<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <title>Learn ISLT</title>
</head>
<body>
    <header class="text-gray-600 body-font">
        <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
          <a class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-10 h-10 text-white p-2 bg-indigo-500 rounded-full" viewBox="0 0 24 24">
              <path d="M12 2L2 7l10 5 10-5-10-5zM2 17l10 5 10-5M2 12l10 5 10-5"></path>
            </svg>
            <span class="ml-3 text-xl">ISLT</span>
          </a>
          <nav class="md:ml-auto md:mr-auto flex flex-wrap items-center text-base justify-center">
            <a href="/home">
            <button class="inline-flex text-white bg-purple-500 border-0 py-2 px-6 focus:outline-none mr-5 hover:text-gray-900 rounded text-lg">HOME
              <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-1" viewBox="0 0 24 24">
                <path d="M5 12h14M12 5l7 7-7 7"></path>
              </svg>
            </button>
          </a>
           <a href="/about">
          <button class="inline-flex text-white bg-purple-500 border-0 py-2 px-6 focus:outline-none mr-5 hover:text-gray-900 rounded text-lg">ABOUT
              <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-1" viewBox="0 0 24 24">
                <path d="M5 12h14M12 5l7 7-7 7"></path>
              </svg>
            </button>
          </a>
            <a href="/contact">
            <button class="inline-flex text-white bg-purple-500 border-0 py-2 px-6 focus:outline-none mr-5 hover:text-gray-900 rounded text-lg">CONTACT
              <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-1" viewBox="0 0 24 24">
                <path d="M5 12h14M12 5l7 7-7 7"></path>
              </svg>
            </button>
            </a>
          </nav>
        </div>
    </header>

   

<section class="text-gray-600 body-font">
    <div class="container px-5 py-24 mx-auto">
      <div class="flex flex-col text-center w-full mb-20">
        <h2 class="text-xs text-indigo-500 tracking-widest font-medium title-font mb-1">Welcome To ISLT</h2>
        <h1 class="sm:text-3xl text-2xl font-medium title-font mb-4 text-gray-900">FEW ISLT SYMBOLS</h1>
      </div>

      <section class="text-gray-600 body-font">
        <div class="container px-5 py-24 mx-auto">
          <div class="flex flex-wrap w-full mb-20">
            <div class="lg:w-1/2 w-full mb-6 lg:mb-0">
              <h1 class="sm:text-3xl text-2xl font-medium title-font mb-2 text-gray-900">Words</h1>
              <div class="h-1 w-20 bg-indigo-500 rounded"></div>
            </div>
            <p class="lg:w-1/2 w-full leading-relaxed text-gray-500">Here are some of the words used of sign language with the description/ explanation of the individual signs.</p>
          </div>
          <div class="flex flex-wrap -m-4">
            <div class="xl:w-1/4 md:w-1/2 p-4">
              <div class="bg-gray-100 p-6 rounded-lg">
                <iframe width="300" height="315" src="https://www.youtube.com/embed/rvjY9vlX_H4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>                <h3 class="tracking-widest text-indigo-500 text-xs font-medium title-font"></h3>
                <h2 class="text-lg text-gray-900 font-medium title-font mb-4"><br>Afternoon</h2>
                <p class="leading-relaxed text-base">Afternoon in Indian Sign Language is used to denote the time of day between 12:00 PM and 4:00 PM. In ISL, the sign for afternoon is typically signed by placing the left hand horizontally in front of the body, palm facing down, and using the right hand to tap or pat the back of the left hand. <br><br> This gesture represents the sun moving across the sky, indicating the time of day. Understanding the signs for different times of day is an essential part of learning Indian Sign Language and can help improve communication with the deaf and hard of hearing community.</p>
              </div>
            </div>
            <div class="xl:w-1/4 md:w-1/2 p-4">
              <div class="bg-gray-100 p-6 rounded-lg">
                <iframe width="300" height="315" src="https://www.youtube.com/embed/kGacw2buj-A" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>                <h3 class="tracking-widest text-indigo-500 text-xs font-medium title-font"></h3>
                <h2 class="text-lg text-gray-900 font-medium title-font mb-4"><br>Deaf</h2>
                <p class="leading-relaxed text-base">Deaf in Indian Sign Language is signed by placing the index finger of the right hand on the cheek near the ear and moving it downwards and outwards. This sign represents the concept of not being able to hear and is an essential part of learning Indian Sign Language. <br><br> Understanding the signs for different words and concepts can help improve communication with the deaf and hard of hearing community and facilitate greater inclusion and accessibility for all. <br><br><br><br></p>
              </div>
            </div>
            <div class="xl:w-1/4 md:w-1/2 p-4">
              <div class="bg-gray-100 p-6 rounded-lg">
                <iframe width="300" height="315" src="https://www.youtube.com/embed/d9fEfBJmy0Y" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>                <h3 class="tracking-widest text-indigo-500 text-xs font-medium title-font"></h3>
                <h2 class="text-lg text-gray-900 font-medium title-font mb-4"><br>Help</h2>
                <p class="leading-relaxed text-base">The Indian Sign Language sign for help is made by holding up the right hand with the palm facing outward and the fingers slightly spread apart. The left hand is then placed flat against the right palm, and both hands move upward together. This gesture represents the act of lifting someone up or providing assistance. <br><br> Learning the sign for help is crucial for effective communication with the deaf and hard of hearing community, as it enables individuals to quickly and easily ask for assistance or offer help to those in need.<br><br></p>
              </div>
            </div>
            <div class="xl:w-1/4 md:w-1/2 p-4">
              <div class="bg-gray-100 p-6 rounded-lg">
                <iframe width="300" height="315" src="https://www.youtube.com/embed/e0d5YxnIU3Y" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>                <h3 class="tracking-widest text-indigo-500 text-xs font-medium title-font"></h3>
                <h2 class="text-lg text-gray-900 font-medium title-font mb-4"><br>Morning</h2>
                <p class="leading-relaxed text-base">In Indian Sign Language, the sign for morning is used to denote the time of day between 6:00 AM and 12:00 PM. The sign for morning is typically signed by using the right hand to mimic the motion of the sun rising over the horizon. The fingers are extended and the hand is moved up and to the right, indicating the rising of the sun. <br><br> Learning the signs for different times of day is an important part of learning Indian Sign Language and can help facilitate communication with the deaf and hard of hearing community.<br><br></p>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="text-gray-600 body-font">      
              <div class="flex flex-wrap -m-4">
                <div class="xl:w-1/4 md:w-1/2 p-4">
                  <div class="bg-gray-100 p-6 rounded-lg">
                    <iframe width="300" height="315" src="https://www.youtube.com/embed/wK8amEJAK1Y" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>                <h3 class="tracking-widest text-indigo-500 text-xs font-medium title-font"></h3>
                    <h2 class="text-lg text-gray-900 font-medium title-font mb-4"><br>Thankyou</h2>
                    <p class="leading-relaxed text-base">
                      "Thank you" in Indian Sign Language is a commonly used gesture to express gratitude. In ISL, the sign for "thank you" involves placing the right hand flat against the lips and then moving it forward and slightly downward in the direction of the person being thanked. <br><br> This gesture is often accompanied by a smile and is a polite and respectful way to show appreciation. Learning to use this sign is an important aspect of communicating with the deaf and hard of hearing community in India.
                    <br><br><br></p>
                  </div>
                </div>
                <div class="xl:w-1/4 md:w-1/2 p-4">
                  <div class="bg-gray-100 p-6 rounded-lg">
                    <iframe width="300" height="315" src="https://www.youtube.com/embed/Iji2l3tYxHc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>                <h3 class="tracking-widest text-indigo-500 text-xs font-medium title-font"></h3>
                    <h2 class="text-lg text-gray-900 font-medium title-font mb-4"><br>Today</h2>
                    <p class="leading-relaxed text-base">Today in Indian Sign Language is used to refer to the current day. In ISL, the sign for today is made by pointing to the center of the palm with the index finger of the dominant hand and rotating it clockwise in a small circle. <br><br> This sign is often used in conjunction with other signs to convey specific information about events or appointments happening on the current day. Learning the signs for time and dates is essential for effective communication in Indian Sign Language and can help bridge the gap between the deaf and hard of hearing community and those who are not fluent in sign language.</p>
                  </div>
                </div>
                <div class="xl:w-1/4 md:w-1/2 p-4">
                  <div class="bg-gray-100 p-6 rounded-lg">
                    <iframe width="300" height="315" src="https://www.youtube.com/embed/NQTfv_uhpfg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>                <h3 class="tracking-widest text-indigo-500 text-xs font-medium title-font"></h3>
                    <h2 class="text-lg text-gray-900 font-medium title-font mb-4"><br>Winter</h2>
                    <p class="leading-relaxed text-base">In Indian Sign Language, the sign for Winter is typically signed by extending both arms in front of the body, crossing them at the wrists, and shaking them slightly. This gesture represents the cold winds blowing during the winter season. <br><br> Winter is a particularly important concept to understand in Indian Sign Language, as it is associated with various holidays and cultural traditions. Learning the sign for Winter, along with other seasonal signs, can help improve communication and foster a deeper understanding and appreciation of the deaf and hard of hearing community.<br></p>
                  </div>
                </div>
                
              </div>
            </div>
          </section>
  


</body>
</html>